[Unit]
Description=STALKER VK Bot
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/stalker_bot
EnvironmentFile=-/opt/stalker_bot/.env
ExecStart=/opt/stalker_bot/venv/bin/python3 /opt/stalker_bot/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
